{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Cápitan América</h1>
        <p>
            lorem ipsum dolor sit, amet consectetur  XXXXXXX  XXXXXXX  XXXXXXX  XXXXXXX  XXXXXXX  XXXXXXX
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/ca.png" class="img-thumbnail" 
    </div>

</div>

{{> pie }}
